 .tweets { 
  background-color: #f4f1ec;
  width: 100%;
  border: 5px solid #545149;
  margin-bottom: 15px; 
  margin-top: 15px;
}


 .tweets header { 
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  height: 80px;
  color: #545149; 
  width: 100%;
 
} 

.header-right{ 
  height: 60px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.avatar{ 
  margin-left: 1.5em;
}

.name { 
  margin-left:0.5em;
} 

.handle { 
  margin-right: 1.5em;
  color:rgb(165, 163, 163);
} 


.tweets p { 
  display:flex; 
  align-items: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
  height: 100px; 
  border-bottom: 5px solid #545149;
} 

.tweets footer{ 
  display:flex; 
  justify-content:space-between;
  flex-direction: row;
  align-items: center;
  height: 55px;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 16px;
}

.error {
  color: red;
  font-weight: 300;
  border: 3px solid red;
  font-size: 1.5rem;
  height: 1.5rem;
}

.icons{ 
  color:#4056A1;  
} 

.tweets:hover { 
  box-shadow: 10px 5px 5px grey;
}

#flag:hover{ 
  color:orange;
} 
#retweet:hover{ 
  color:orange;
} 
#heart:hover{ 
  color:orange;
}